<section id="footer">
    <div class="container text-center footer-box">
        <p>©2021 Ton Duc Thang University </p>
        <p>
            Products designed by students Ton Duc Thang University
        </p>
    </div>
</section>